<h1> Help </h1>
<p>
	This is the help page of ROR sample app
</p>

<div id="faq">
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora.</li>
		<li>Sint, exercitationem impedit repellat vero excepturi. Distinctio dignissimos at molestiae.</li>
		<li>Magnam, blanditiis, animi dignissimos dolorum ipsam eveniet dolore beatae ipsa!</li>
		<li>Voluptatibus quas aliquid mollitia labore magnam? Explicabo libero harum neque.</li>
		<li>Vitae, obcaecati, aliquam in quos doloribus atque hic modi molestias.</li>
		<li>Dolores, maxime facilis temporibus qui incidunt ab doloribus nemo ipsa.</li>
		<li>Dolores, sit totam sint reiciendis eius ut ea repellat harum.</li>
		<li>Pariatur, rem perferendis quod aliquam dolorem optio eum consequuntur molestiae.</li>
		<li>Possimus, fuga, quas sit id repudiandae praesentium alias adipisci harum!</li>
		<li>Ipsam facilis cupiditate velit vero officiis eos facere iusto quod!</li>
		<li>Distinctio, asperiores, unde facere totam placeat molestiae eos temporibus veritatis.</li>
		<li>Et ipsam dolorum beatae fugit hic repellendus aliquam ab deleniti.</li>
	</ul>
</div>